body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: rgb(249,249,245)
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/*
 * blog.css
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

.sidebar-module {
  padding: 15px;
  margin: 0 0px 15px;
  width: 300px;
}

.resume {
  margin-left: 30px;
}
